@model MVCAssignmentPerson.Models.ViewModel.RolesManagmentViewModel

@{
    ViewData["Title"] = "RolesManagment";
}

<h1>RolesManagment</h1>

<div>
    <h4>Roles Managment</h4>
    @if (ViewBag.ErroMsg != null)
    {
        <h2>@ViewBag.ErroMsg</h2>

    }

    <hr />
    <div class="row">
        <div class="col-6">
            <table>
                <thead>
                    <tr>
                        <th>Role</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.UserRoles)
                    {
                        <tr>
                            <td>@item</td>
                            <td>
                                @Html.ActionLink("Remove", "RemoveRoleFromUser", "Admin", new { userId = Model.UserId, rolename = item })
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>

        <div class="col-6">
            <table>
                <thead>
                    <tr>
                        <th>Role</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.IdentityRoles)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>
                                @Html.ActionLink("Add", "AddRoleToUser", "Admin", new { userId = Model.UserId, roleName = item.Name })
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>


</div>
<div>
    @Html.ActionLink("Back to Details", "Details", new { id = Model.UserId }) |
    <a asp-action="UserList">Back to User List</a>
</div>
