@model Person

<div id="@("person" + Model.Id)" class="row">

    <div class="col-3">
        <h5>@Model.Name</h5>
    </div>
    <div class="col-3">
        <h5>@Model.Phone</h5>
    </div>
    <div class="col-3">
        <h5>@Model.City</h5>
    </div>
    <div class="col-3">
        <h5>@Model.Id</h5>
        
    </div>


</div>
    

