@model Person

<div id="@("person" + Model.Id)" class="col-12">
    <div class="col-3">
        <p>Name : @Model.Name</p>

    </div>

    <div class="col-3">
        <p>City : @Model.InCityId</p>
    </div>

    <div class="col-3">
        <p>Phone : @Model.Phone</p>

    </div>

    <div class="col-3">
        <p>Id : @Model.Id</p>

    </div>
    <div class="col-3">
     
    </div>
</div>

