@model PersonLanguagesViewModel
@{
    ViewData["Title"] = "Manage Person Languages";
}

<h1>Manage Person Languages</h1>

<div class="row">
    <div class="col-3">
        <h4>Person</h4>
    </div>
    <div class="col-3">
        <h4>Current</h4>
    </div>
    <div class="col-3">
        <h4>Avalible</h4>
    </div>
    <div class="col-3">
        <h4>Return</h4>
    </div>

</div>
<div class="row">
    <div class="col-3">
      <h4>@Model.Person.Name</h4>

    </div>
    <div class="col-3">
        <ul>
            @foreach (var item in Model.Person.PersonLanguages)
            {
                <li>@item.Language.Name</li>
                @Html.ActionLink("Remove", "RemoveLanguageToPerson", "People", new { personId = Model.Person.Id, langId = item.LanguageId })
            }
        </ul>
    </div>
    <div class="col-3">
        <ul>
            @foreach (var item in Model.Languages)
            {
                <li>
                    @item.Name @Html.ActionLink("Add","AddLanguageToPerson","People", new { personId = Model.Person.Id, langId = item.Id})
                </li>
            }
        </ul>
    </div>
    <div class="col-3">
        <a asp-action="Index">Back to Person</a>

    </div>

</div>

